
html{
    min-width: 850px;
    min-height: 800px;
}
body{

    margin: 0;
    padding: 0;
    min-width: 850px;
    min-height: 800px;
    background:url("img/Whistler.jpg");
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center center;
    background-clip: border-box;
    background-origin: padding-box;
    -moz-background-size: cover;
    background-size: cover;

}

h1, h2, h3, h4, h5{
    font-family: "Helvetica Neue";
}



.side{
    display: flex;

    position: absolute;
    left: 0;
    height: inherit;
    background-color: rgba(20,33,52,0.8);
    min-height: 800px;
    width: 33%;
    min-width: 340px;

}

.content{
    display: flex;
}



.info{
    margin-top: 3%;
    height: 100%;
    width: 66%;
    height: inherit;
    float: right;
    padding-right: 15px;
    min-width: 550px

}

.timeline {
  border-left: 4px solid #E0E4F4;
  margin: 0px 0px 0px 70px;
  position: relative;
  padding: 60px 10px 50px 50px;
}
.timeline h3 {
    font-size: 36px;
    margin: 0;
    color: #E0E4F4;

    font-weight: bold;
}

.timeline h5 {
    color: #E0E4F4;
    margin: 0;
    font-size: 20px;
    font-weight: 300;
}

.timeline .event {
    position: relative;
}


.timeline .event:after {
  left: calc((50px + 4px + (20px * 0.40)) * -1);
  background: #E0E4F4;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  content: "";
  top: 10px;
  position: absolute;
  display: block;

}

.event ul li{
    display: block;
    margin-bottom: 10%;
}

.event ul li a{
    color: #E0E4F4;
    cursor: pointer;
    text-decoration: underline;
}

.introduction{
    float: left;

}

.social-media-bar{
    float: right;
    padding-right: 20px;
}

.social-media-token{
    height: 60px;
    width: 60px;
	background-color: rgba(20,33,52,0.8);
    margin-bottom: 30px;
    border-radius: 50%;
    position: relative;
    display: block;

}

.social-media-token:hover{
	background-color: #6B7690;
}

.social-media-token:active{
	background-color: #6B7690;
}

.social-media-token img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.introduction{
    font-size: 28px;
    color: #142134;
    margin-left: 15%;
}

.introduction h1{
    margin: 0px 0px 0px 0px;
}

.hey{
    font-weight: 300;
}

.name{
    font-weight: bold;
}
