html{

}

body{
    height: 100%;
    margin: 0;
    padding: 0;

}
.container {
  background:url("img/Whistler.jpg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  -moz-background-size: cover;
  background-size: cover;
}


.side{
    float: left;
    background-color: rgba(20,33,52,0.8);
    height: -webkit-fill-available;
    height: -moz-fill-available;
    width: 33%;
}

.timeline{
    padding-top: 10%;
    padding-left: 10%;
    display: flex;

}

.info{

    height: 100%;

    height: inherit;
}

.timeline #timeline-line{

    vertical-align: top;
    height: 100%;
}
.timeline #timeline-text{

    vertical-align: top;
    height: 100%;
}

.timeline-event h3{
    font-size: 36px;
    margin: 0;
    color: #E0E4F4;
    font-family: "Helvetica Neue";
    font-weight: bold;
}
.timeline-event ul{
    padding: none;
    margin: none;
}

.timeline-event ul li{
    display: block;
}

.timeline-event ul li h5{
    color: #E0E4F4;
    margin: 0;
	font-family: "Helvetica Neue";
    font-size: 24px;
    font-weight: 300;
}
